/* WORK PAGE */

.work-section{
    padding:60px 30px;
}

/* TITLE */

.work-title{
    text-align:center;

    margin-bottom:50px;

    font-size:22px;

    color:white;

    text-shadow:4px 4px 0px #3d2f56;

    animation:slideDown 1s ease;
}

/* PROJECT CONTAINER */

.projects-container{
    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:40px;
}

/* PROJECT CARD */

.project-card{
    background:#fff0cf;

    width:420px;

    border:6px solid #3d2f56;

    box-shadow:8px 8px 0px #3d2f56;

    overflow:hidden;

    transition:0.3s;

    animation:floatUp 1.2s ease;
}

.project-card:hover{

    transform:
    translateY(-10px)
    rotate(1deg);

    box-shadow:12px 12px 0px #3d2f56;
}

/* IMAGES */

.project-card img{
    width:100%;

    height:250px;

    object-fit:cover;

    border-bottom:6px solid #3d2f56;
}

/* INFO */

.project-info{
    padding:25px;
}

/* TITLES */

.project-info h2{

    display:inline-block;

    background:#7aa35a;

    color:white;

    padding:12px 16px;

    border:4px solid #3d2f56;

    box-shadow:4px 4px 0px #3d2f56;

    font-size:10px;

    margin-bottom:25px;
}

/* TEXT */

.project-info p{
    font-size:8px;

    line-height:2.2;

    margin-bottom:25px;
}

/* TECH TAGS */

.tech-box{
    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin-bottom:25px;
}

.tech-box span{
    background:#ff7f6e;

    padding:10px;

    border:3px solid #3d2f56;

    font-size:7px;
}

/* BUTTON */

.project-btn{
    display:inline-block;

    text-decoration:none;

    color:black;

    background:#ffe066;

    padding:12px 18px;

    border:4px solid #3d2f56;

    box-shadow:4px 4px 0px #3d2f56;

    font-size:8px;

    transition:0.3s;
}

.project-btn:hover{

    transform:translateY(-5px);

    box-shadow:8px 8px 0px #3d2f56;
}

/* ANIMATIONS */

@keyframes slideDown{

    from{
        opacity:0;

        transform:translateY(-100px);
    }

    to{
        opacity:1;

        transform:translateY(0);
    }
}

@keyframes floatUp{

    from{
        opacity:0;

        transform:translateY(100px);
    }

    to{
        opacity:1;

        transform:translateY(0);
    }
}

/* MOBILE */

@media(max-width:768px){

    .project-card{
        width:95%;
    }
}

/* FLOATING STARS */

.floating-stars{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    pointer-events:none;

    z-index:999;
}

.star{

    position:absolute;

    color:white;

    font-size:22px;

    text-shadow:0 0 10px white;

    animation:floatStar 5s infinite ease-in-out;
}

/* POSITIONS */

.star1{
    top:10%;
    left:15%;
}

.work-cloud1{
    top:8%;
    left:8%;
    transform: scale(0.9);
}

.work-cloud2{
    top:18%;
    right:10%;
    transform: scale(0.8);
}

.star2{
    top:25%;
    right:12%;

    animation-delay:1s;
}

.star3{
    bottom:20%;
    left:20%;

    animation-delay:2s;
}

.star4{
    bottom:12%;
    right:18%;

    animation-delay:3s;
}

/* FLOAT ANIMATION */

@keyframes floatStar{

    0%,100%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-20px);
    }
}